.actions{
    /* border: 1px dashed pink; */
    flex: .2;
    background: #f9fafe;
    padding: 2em 1em;
}
.actions > div, .actions > div > div{
    height: 100% !important;
}
.actions iframe{
    height: 100% !important;
    /* padding: 2em 1em !important; */
    border-radius: 1em !important;
}