.home{
    min-height: 100%;
    display: flex;
    /* background: #efefef; */
}
@media(max-width: 850px){
    .home{
        flex-direction: column;
        justify-content: space-between;
        gap: 2em;
    }
    .home > .main{
        order: 1;
        padding: 1.5em;
        flex: 1;
    }
    .home > .sidebar{
        flex-direction: row;
        order: 3;
        justify-content: space-between;
        padding: .5em 1.5em;
        position: sticky;
        bottom: 0;
        border-top: 1px solid #ABABAB;
    }
    .home .sidebar .sidebar__logo > ion-icon{
        font-size: 1.7rem;
    }
    .home > .actions{
        order: 2;
        min-height: 500px;
    }
}
